<!-- <section>
   <div class="info-block">
      
   </div>
     <h2 class="block-title">Keeper Secure Vault</h2>
  <p class="block-description">Ваши данные под надёжной защитой</p>
  
  <div class="content-box">
    <img src="assets/shield-icon.svg" alt="Защита" class="box-icon">
    <p>Шифрование AES-256 для максимальной безопасности</p>
  </div>
  
  <button class="keeper-btn">Попробовать бесплатно</button>
</section> -->
<!-- <section> -->
  <div class="centered-block">
    <h1 class="h3-info">О разработчике</h1>
    <div class="name-info">
      <span
        ><img
          src="assets\avatar-default-svgrepo-com.svg"
          alt=""
          class="logo-name-info"
        />
        <div class="text-name-info">
          <span>
            <p class="h3-myname-info">Максим Бурцев, 15 лет</p>
            <p class="info-geo">
              <img
                class="geo"
                src="assets\location-pin-alt-1-svgrepo-com.svg"
                alt=""
              />Russia
              <img
                src="assets\vecteezy_vector-flag-of-the-russian-federation_35108629.svg"
                alt=""
                class="russia-img"
              />, Kursk
            </p>
          </span>
        </div>
      </span>
    </div>
    <div class="info-my">
      <h2>Про меня</h2>
      <div class="my-info">
        <p>
          Всем привет! Как вы узнали выше меня зовут Максим и проживаю я в
          Курске. Программировать я начал в начале 2024 года, прошел часы
          кодинга и обучения. В будущем планирую изучать Back-end и стремлюсь
          Fullstack разработчику.
        </p>
      </div>
    </div>
    <div class="my-satck">
      <h2>Навыки (Stack)</h2>

      <div class="stack">
        <div class="forms-stack">Python</div>
        <div class="forms-stack">HTML</div>
        <div class="forms-stack">CSS</div>
        <div class="forms-stack">Bootstrap</div>
        <div class="forms-stack">JavaScript</div>
        <div class="forms-stack">Angular</div>
      </div>
    </div>
    <div class="info-project">
      <h2>О проекте</h2>
      <div class="project">
        <p>
          Хочу представить вам свой сайт 'Keeper'. Это будет небольшое хранилище
          где вы можете хранить пароли, записывать свои задачи в ToDo-лист и
          сортировать по тегам и категориям, и так же вы можете добавлять все
          свои воспоминания в личный дневник. Туда вы можете написать свои
          мысли, добавить фотографию, отметить геолокацию этого места, а так же
          добавить эмодзи который будет 
          показывать какое у вас было настроение. Этот проект написан на Angular.
        </p>
      </div>
    </div>
    <div class="socsetiw">
      <h2>Мои соцсети</h2>
      <div class="socseti">
              <a href="https://vk.com/maximburtsev3" target="_blank"><img src="assets\vk_3670055.png" alt="" class="vk"></a>
      <a href="https://www.tiktok.com/@maximburtsev2?_t=ZS-8wAPhux2n5j&_r=1" target="_blank"><img src="assets\tiktok.svg"  alt="" class="tt"></a>
      <a href="https://github.com/maxim2010max" target="_blank"><img src="assets\github.svg" alt="" class="github"></a>
      <a href="https://t.me/max_python3" target="_blank"><img src="assets\telegram.svg" target="_blank" alt="" class="tg"></a>

      </div>


    </div>
  </div>

<!-- </section> -->