

<div class="main-wrapper">
  <p class="main-b">Добро пожаловать в <br />Keeper!</p>
  <p class="keeper-main-text">
    Хранилище ваших паролей, заметок и воспоминаний
  </p>
<!--   <div class="security-waves">
    <div class="wave wave-1"></div>
    <div class="wave wave-2"></div>
    <div class="wave wave-3"></div>
  </div> -->
  <div class="three-main-block">
    <a class="btn_a" href="" [routerLink]="['password']">
      <div class="main-center-todo-block">
        <h2 class="main-text main-card-text">Пароли</h2>
        <img class="img-passw" src="assets\Снимок экрана 2025-05-09 114305.png" alt="">
      
      </div>
    </a>
    <a class="btn_a" href="" [routerLink]="['todo']">
      <div class="main-center-todo-block">
        <h2 class="main-text main-card-text">TODO</h2>
        <img class="img-todo" src="assets\Снимок экрана 2025-05-09 113521.png" alt="" />
      
      </div>

    </a>
    <a class="btn_a" href="" [routerLink]="['diary']">
      <div class="main-center-todo-block">
        <h2 class="main-text main-card-text">Дневник</h2>
        <img class="img-diary" src="assets\Снимок экрана 2025-05-09 114358.png" alt="">
      </div>
    </a>
    
  </div></div>
<div class="footer-wraper">
  <div class="main-footer">
    <div>
      <p class="text-keep">Keeper, 2025</p>
    </div>
    <div class="socseti">
      <a href="https://vk.com/maximburtsev3" target="_blank"><img src="assets\vk_3670055.png" alt="" class="vk"></a>
<a href="https://www.tiktok.com/@maximburtsev2?_t=ZS-8wAPhux2n5j&_r=1" target="_blank"><img src="assets\tiktok.svg"  alt="" class="tt"></a>
<a href="https://github.com/maxim2010max" target="_blank"><img src="assets\github.svg" alt="" class="github"></a>
<a href="https://t.me/max_python3" target="_blank"><img src="assets\telegram.svg" target="_blank" alt="" class="tg"></a>

</div>


  </div>
</div>



