.main-b {
   font-size: 1.5rem;
   text-align: center;
   margin-bottom: 20px;
 }
 .todo-component {
   font-family: Arial, sans-serif;
   max-width: 700px;
   margin: 20px auto;
   padding: 20px;
   background: var(--kartochki); /* Полупрозрачный тёмный фон */
   border-radius: 12px;
   border: 1px solid var(--border);
   box-shadow: 0 8px 32px var(--box-shadow);
   border-radius: 8px;
   animation: fadeInUp 0.6s cubic-bezier(0.16, 1, 0.3, 1);
 }
 @keyframes fadeInUp {
   from {
     opacity: 0;
     transform: translateY(20px);
   }
   to {
     opacity: 1;
     transform: translateY(0);
   }
 }
 .input-todo-section {
   display: flex;
   flex-direction: column;
   gap: 12px;
   margin-bottom: 20px;
 
 }
 .input-todo {
   height: 35px;
   padding: 0 15px;
   border: 1px solid #7aa2f7;
   border-radius: 6px;
   background: #102236;
   font-size: 16px;
   transition: all 0.3s ease;
   &:hover {
     background: rgba(122, 162, 247, 0.205);
     box-shadow: 0 4px 7px var(--gold-blur);
   }
   &:focus{
    border: 1px solid #7aa2f7;
   }
 }
 .bth-todo-add{
   padding: 7px;
   background-color: #2071a7;
   border: 1px solid var(--border) ;
   border-radius: 6px;
   cursor: pointer;
   font-size: 0.9rem;
   transition: all 0.3s;
   color: var(--text-main);
   font-weight: 600;
   &:hover{
      background: rgba(94, 133, 216, 0.616);
      box-shadow: 0 4px 7px var(--gold-blur);
   }
   &:disabled{
      background-color: #95a5a6;
      cursor: not-allowed;
   }
 }
 .output {
  margin-top: 12px;
  padding: 12px;
  background-color: #f8f9fa;
  border: 1px solid var(--border) ;
  border-radius: 6px;
  color: #2c3e50;
  &:hover {
    box-shadow: 0 4px 7px var(--gold-blur);
  }
}

.todo-list {
  margin-top: 24px;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.todo-item {
  border: 1px solid #7aa2f7;
  padding: 16px;
  margin-bottom: 12px;
  border-radius: 8px;
  transition: transform 0.2s;
  background: #102236;

}

.todo-item:hover {
  transform: translateY(-2px);
  box-shadow:0 4px 7px var(--gold-blur);
}

.todo-text {
  margin-bottom: 12px;
  color: var(--text-main);
  font-family: monospace;
  font-size: 18px;
}

.delete-btn {
  padding: 8px 12px;
  background-color: #af1f0f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-btn:hover {
  background-color: #971d10;
}

.empty-message {
  color: #95a5a6;
  text-align: center;
  font-style: italic;
}